<template>
  <div class="user">
    <a-dropdown :trigger="['click']">
      <a-avatar
        shape="circle"
        :size="35"
        icon="user"
        style="backgroundColor:#e1e1e1"
      />

      <template #overlay>
        <a-list
          size="small"
          bordered
          :data-source="menu"
          class="user__list"
        >
          <template #header>
            <div class="user__header">
              <h4>Hello, {{ profile.name }}</h4>
            </div>
          </template>

          <template #renderItem="item, index">
            <a-list-item
              v-if="item.type === 'settings'"
              class="user__item"
              @click="settingsVisible = true"
            >
              <div class="user__item-content">
                <a-icon :type="item.icon" />
                <div>{{ item.title }}</div>
              </div>
            </a-list-item>

            <a-list-item
              v-if="item.type === 'logout'"
              class="user__item"
              @click="logOut"
            >
              <div class="user__item-content">
                <a-icon :type="item.icon" />
                <div>{{ item.title }}</div>
              </div>
            </a-list-item>
          </template>

          <template #footer />
        </a-list>
      </template>
    </a-dropdown>

    <user-settings
      :settings-visible="settingsVisible"
      @onCloseSettings="onCloseSettings"
    />
  </div>
</template>

<script>
import UserSettings from '../User/UserSettings'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'HeaderUserMenu',
  components: { UserSettings },

  data () {
    return {
      settingsVisible: false,
      menu: [
        { type: 'settings', title: 'Settings', icon: 'setting' },
        { type: 'logout', title: 'Logout', icon: 'poweroff' }
      ]
    }
  },

  computed: {
    ...mapGetters('profile', ['profile'])
  },

  methods: {
    onCloseSettings (state) {
      this.settingsVisible = !!state
    },
    ...mapActions('auth', ['logOut'])
  }
}
</script>

<style scoped lang="scss">
    .user {
        &__icon {
            background: #e1e1e1;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            align-items: center;
            background: #f0f2f5;

            h4 {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        &__list {
            width: 160px;
            padding: 0;
        }

        &__item {
            display: flex;
            justify-content: flex-start;
            padding: 5px 10px;
            border-bottom: 1px solid #e8e9ed;
            align-items: center;
            cursor: pointer;

            &:hover {
                background: #e6f7ff;
            }
        }
        &__item-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            i {
                padding-right: 8px;
            }
        }
    }
</style>
