<template>
    <div>
        <a-dropdown
                :trigger="['click']"
                placement="bottomRight"
                class="notify__dropdown"
        >
            <a-badge :count="countErrors">
                <a-avatar
                        shape="circle"
                        :size="35"
                        icon="fire"
                        class="notify__icon"
                />
            </a-badge>


            <template #overlay>
                <div class="notify">
                    <div class="notify__list">
                        <div class="notify__header">
                            <h4>Diagnostic</h4>
                            <a-button
                                    type="primary"
                                    icon="delete"
                                    size="small"
                                    @click="handleDeleteErrors()"
                                    :loading="loading"
                            />
                        </div>

                        <router-link
                                v-for="(group, index) in hardwareErrors"
                                :to="$getHardware(index).href"
                                class="notify__item"
                        >
                            <div class="notify__title">
                                {{ $getHardware(index).breadcrumbs }}
                            </div>

                            <div class="notify__badge">
                                <a-badge :count="group.length"/>
                            </div>
                        </router-link>
                    </div>
                </div>
            </template>
        </a-dropdown>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    export default {
        name: 'HeaderNotify',
        data() {
            return {
                loading: false,
            }
        },

        computed: {
            ...mapGetters('errors', {storeErrors: 'errors'}),

            ...mapGetters('tree', ['tree']),

            hardwareErrors() {
                return this.storeErrors
            },

            countErrors() {
                let count = 0

                for (let item in this.storeErrors) {
                    count += Array.from(this.storeErrors[item]).length
                }
                return count
            }
        },

        methods: {

            ...mapActions('errors', {getErrors: 'errors'}),

            handleDeleteErrors() {
                this.loading = true;
                this.$http.post(`${this.$config.hostApi}/ams/clear_errors`)

                    .then(response => {
                        this.$message.success(response.data.message)
                        this.loading = false
                        this.getErrors()
                    })

                    .catch(response => {
                        this.$errorHandling(response)
                        this.loading = false
                    })
            }

        }
    }
</script>

<style scoped lang="scss">
    .notify {
        position: relative;
        z-index: 100;
        border: 1px solid #e8e8e8;
        background: #ffffff;
        width: 360px;
        max-height: 350px;
        overflow: auto;

        &__icon {
            background: #e1e1e1;
        }

        &__header {
            position: sticky;
            top: 0;
            z-index: 100;
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            align-items: center;
            background: #f0f2f5;
        }

        &__list {
            position: relative;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            border-bottom: 1px solid #e8e9ed;
            cursor: pointer;

            &:hover {
                background: #e6f7ff;
            }
        }

        &__title {
            flex-basis: 100%;
            flex-grow: 1;
        }

    }

</style>
