<template>
  <div class="header">
    <div class="header__logo">
      <img
        src="../../assets/logo.svg"
        alt=""
      >
    </div>

    <div class="header__notify">
      <header-notify />
    </div>

    <div class="header__user">
      <header-user />
    </div>
  </div>
</template>

<script>
import HeaderUser from './HeaderUser'
import HeaderNotify from './HeaderNotify'

export default {
  name: 'PanelHeader',
  components: { HeaderUser, HeaderNotify }
}
</script>

<style scoped lang="scss">
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;

        background: rgb(255,255,255);
        border-bottom: 1px solid #e8e9ed;

        &__logo{
            flex-grow: 1;
        }
        &__logo>*{
            height: 32px;
            width: auto;
        }

        &__notify, &__user{
            cursor: pointer;
            padding-left: 15px;
        }
    }
</style>
