<template>
  <a-layout class="panel">
    <panel-header />
    <a-layout>
      <panel-aside />
      <a-layout>
        <panel-main />
      </a-layout>
    </a-layout>
  </a-layout>
</template>

<script>

import PanelHeader from '../../components/Header/PanelHeader'
import PanelAside from '../../components/Aside/PanelAside'
import PanelMain from '../../components/Main/PanelMain'

import { mapActions } from 'vuex'

export default {
  components: { PanelHeader, PanelAside, PanelMain },
  data () {
    return {
      cluster_interval: null
    }
  },
  methods: {
    ...mapActions('profile', { getProfile: 'profile' }),

    ...mapActions('tree', { getTree: 'tree' }),

    ...mapActions('errors', { getHardwareErrors: 'errors' })
  },
  created () {
    this.cluster_interval = setInterval(() => {
      this.getTree()
      this.getHardwareErrors()
    }, 5000)

    this.getTree()
  },
  destroyed () {
    clearInterval(this.cluster_interval)
  }

}

</script>

<style lang="scss">

    html, body, #app {
        height: 100%;
    }

    .panel {
        min-height: 100vh;
    }

</style>
