.login[data-v-35cd7c74]{height:100vh;background:#f9f9f9;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.login__wrap[data-v-35cd7c74]{width:350px;padding:20px;border-radius:5px;border:1px solid rgba(0,0,0,.1);background:#fff;position:relative;z-index:2}.login__action[data-v-35cd7c74]{text-align:center}
/*# sourceMappingURL=chunk-24de877f.f623f9c0.css.map */