.chart[data-v-ef2fd510]{padding:0 25px}.breadcrumb[data-v-ef2fd510]{padding:25px 15px}.nav[data-v-ef2fd510]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.nav__datepicker[data-v-ef2fd510]{padding-left:25px}.not_data[data-v-ef2fd510]{height:100%;text-align:center}
/*# sourceMappingURL=chunk-bb1820d0.a63d4ab8.css.map */