.reg[data-v-2b334130]{height:100vh;background:#f9f9f9;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.reg__wrap[data-v-2b334130]{width:350px;padding:20px;border-radius:5px;border:1px solid rgba(0,0,0,.1);background:#fff}.reg__action[data-v-2b334130]{text-align:center}
/*# sourceMappingURL=chunk-da75ecce.f34f6b57.css.map */