<template>
  <div class="menu">
    <div class="menu__divider">
      Statistic
    </div>

    <panel-menu-item path="/panel/dashboard">
      <template #title>
        <a-icon type="dashboard" />
        Dashboard
      </template>
    </panel-menu-item>

    <div class="menu__divider">
      Clusters
    </div>

    <panel-menu-item
      v-for="(cluster) in tree"
      type="submenu"
      :path="`/panel/cluster/${cluster.index}`"
    >
      <template #title>
        <div class="menu__item">
          <div class="menu__item-group">
            <div class="menu__item-icon">
              <a-icon type="cluster" />
            </div>
            <div class="menu__item-title">
              {{ cluster.title }}
            </div>
          </div>
          <a-badge
            v-if="hasHardwareError(cluster.path)"
            status="error"
          />
        </div>
      </template>

      <template #submenu>
        <panel-menu-item
          v-for="(rack) in cluster.racks"
          type="submenu"
          :path="`/panel/cluster/${cluster.index}/rack/${rack.index}`"
        >
          <template #title>
            <div class="menu__item">
              <div class="menu__item-group">
                <div class="menu__item-icon">
                  <a-icon type="database" />
                </div>
                <div class="menu__item-title">
                  {{ rack.title }}
                </div>
              </div>
              <a-badge
                v-if="hasHardwareError(rack.path)"
                status="error"
              />
            </div>
          </template>
          /
          <template #submenu>
            <panel-menu-item
              v-for="(cell) in rack.cells"
              :path="`/panel/cluster/${cluster.index}/rack/${rack.index}/cell/${cell.index}`"
            >
              <template #title>
                <div class="menu__item">
                  <div class="menu__item-group">
                    <div class="menu__item-icon">
                      <a-icon type="border" />
                    </div>
                    <div class="menu__item-title">
                      {{ cell.title }}
                    </div>
                  </div>
                  <a-badge
                    v-if="hasHardwareError(cell.path)"
                    status="error"
                  />
                </div>
              </template>
            </panel-menu-item>
          </template>
        </panel-menu-item>
      </template>
    </panel-menu-item>

    <div class="menu__divider">
      Administration
    </div>

    <panel-menu-item path="/panel/invitations">
      <template #title>
        <a-icon type="user" />
        Users
      </template>
    </panel-menu-item>
  </div>
</template>

<script>
import PanelMenuItem from './PanelMenuItem'
import { mapGetters } from 'vuex'

export default {
  name: 'PanelMenu',
  computed: {
    ...mapGetters('tree', ['tree']),
    ...mapGetters('errors', { hardwareErrors: 'errors' })
  },
  methods: {
    hasHardwareError (path) {
      for (let item in this.hardwareErrors) {
        if (item.search(path) >= 0) {
          return true
        }
      }
      return false
    }
  },
  components: { PanelMenuItem }

}
</script>

<style scoped lang="scss">
    .menu {

        &__divider {
            margin-top: 24px;
            margin-bottom: 5px;
            color: rgba(0, 0, 0, 0.45);
            padding: 0 18px;
        }

        &__item {
            display: flex;
            align-items: center;
        }
        &__item-group {
            display: flex;
        }

        &__item-icon {
            padding-right: 5px;
        }

        &__item-title {
            padding-right: 10px;
        }
    }
</style>
