<template>
  <a-layout-sider
    class="aside"
    :style="{minWidth: '260px'}"
  >
    <panel-menu />
  </a-layout-sider>
</template>

<script>
import PanelMenu from './PanelMenu'

export default {
  name: 'PanelAside',
  components: { PanelMenu }
}
</script>

<style scoped lang="scss">
    .aside {
        width: 300px;
        background: #ffffff;
        border-right: 1px solid #e8e9ed;
    }
</style>
