<template>
  <span
    v-if="type === 'submenu'"
    class="item"
  >
    <router-link
      :to="path"
      class="item__title"
    >

      <span class="item__group">
        <slot name="title" />
      </span>

      <span class="item__toggle">
        <a-icon
          v-if="!visible"
          type="plus"
          style="fontSize: 10px"
          @click.prevent="visible = !visible"
        />
        <a-icon
          v-else
          type="minus"
          style="fontSize: 10px"
          @click.prevent="visible = !visible"
        />
      </span>

    </router-link>

    <span
      v-show="visible"
      class="item__submenu"
    >
      <slot name="submenu" />
    </span>
  </span>

  <span
    v-else
    class="item"
  >
    <router-link
      :to="path"
      class="item__title"
    >

      <span class="item__group">
        <slot name="title" />
      </span>
    </router-link>
  </span>
</template>

<script>
export default {
  name: 'PanelMenu',
  props: ['type', 'level', 'path'], // item submenu
  data () {
    return {
      visible: true
    }
  },
  computed: {

  }
}
</script>

<style scoped lang="scss">
    .item {
        display: block;

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 24px;

            color: rgba(0, 0, 0, 0.65);
            text-decoration: none;
            border-right: 3px solid transparent;

            &:hover {
                color: #1890ff;
            }

            &.router-link-exact-active {
                color: #1890ff;
                border-right: 3px solid #1890ff;
                background: #e6f7ff;
            }
        }

        &__group i {
            padding-right: 15px;
        }

        &__toggle {
            display: block;
            height: 100%;
        }

        &__submenu {
            display: block;
            padding-left: 15px;
        }

    }
</style>
