<template>
  <div>
    <a-row>
      <a-col span="6">
        <h1>Dashboard</h1>
      </a-col>

      <a-col span="18">
        <div class="nav">
          <div class="nav__tree">
            <a-tree-select
              v-model="value"
              show-search
              style="width: 400px"
              :dropdown-style="{ maxHeight: '400px', overflow: 'auto' }"
              placeholder="Please select"
              allow-clear
              multiple
            >
              <a-tree-select-node
                v-for="cluster, cl_index in tree"
                :key="cluster.index"
                :value="formatPath(cluster.index)"
                :title="cluster.title"
              >
                <a-tree-select-node
                  v-for="rack in cluster.racks"
                  :key="formatPath(cluster.index, rack.index)"
                  :value="formatPath(cluster.index, rack.index)"
                  :title="rack.title"
                >
                  <a-tree-select-node
                    v-for="cell in rack.cells"
                    :key="formatPath(cluster.index, rack.index, cell.index)"
                    :value="formatPath(cluster.index, rack.index, cell.index)"
                    :title="cell.title"
                  >
                    <a-tree-select-node
                      v-for="device in cell.devices"
                      :key="formatPath(cluster.index, rack.index, cell.index, device.index)"
                      :value="formatPath(cluster.index, rack.index, cell.index, device.index)"
                      :title="device.title"
                    >
                      <a-tree-select-node
                        v-for="board in device.boards"
                        :key="formatPath(cluster.index, rack.index, cell.index, device.index, board.index)"
                        :value="formatPath(cluster.index, rack.index, cell.index, device.index, board.index)"
                        :title="board.title"
                      />
                    </a-tree-select-node>
                  </a-tree-select-node>
                </a-tree-select-node>
              </a-tree-select-node>
            </a-tree-select>
          </div>
        </div>
      </a-col>
    </a-row>

    <a-tabs
      type="editable-card"
      @edit="removeTab"
    >
      <a-tab-pane
        v-for="(item, index) in panes"
        :key="index"
        :closable="!!index"
      >
        <span slot="tab">
          <a-icon :type="item.icon" />
          {{ item.title }}
        </span>

        <cluster-states
          v-if="item.type==='cluster'"
          :item="item"
        />

        <rack-states
          v-if="item.type==='rack'"
          :item="item"
        />

        <cell-states
          v-if="item.type ==='cell' "
          :item="item"
        />

        <device-states
          v-if="item.type ==='device' "
          :item="item"
        />

        <board-states
          v-if="item.type ==='board' "
          :item="item"
        />
      </a-tab-pane>
    </a-tabs>

    <div
      v-if="!panes.length"
      class="not_data"
    >
      <h1>Please, select device for display statistic.</h1>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ClusterStates from './States/ClusterStates'
import RackStates from './States/RackStates'
import CellStates from './States/CellStates'
import DeviceStates from './States/DeviceStates'
import BoardStates from './States/BoardStates'

export default {

  name: 'Dashboard',
  components: { ClusterStates, RackStates, CellStates, DeviceStates, BoardStates },

  data () {
    return {
      value: ['cl_1']
    }
  },

  computed: {

    panes () {
      let panes = []

      this.value.forEach(x => {
        let [cluster_index, rack_index, cell_index, device_index, board_index] = x.split('/')

        if (board_index) {
          let cluster = this.findObject(cluster_index, this.tree)
          let rack = this.findObject(rack_index, cluster.racks)
          let cell = this.findObject(cell_index, rack.cells)
          let device = this.findObject(device_index, cell.devices)
          let board = this.findObject(board_index, device.boards)

          panes.push({
            index: x,
            type: 'board',
            icon: 'board',
            title: board.title,
            path: [
              cluster.title,
              rack.title,
              cell.title,
              device.title,
              board.title
            ],
            data: board
          })
        } else if (device_index) {
          let cluster = this.findObject(cluster_index, this.tree)
          let rack = this.findObject(rack_index, cluster.racks)
          let cell = this.findObject(cell_index, rack.cells)
          let device = this.findObject(device_index, cell.devices)

          panes.push({
            index: x,
            type: 'device',
            icon: 'rocket',
            title: device.title,
            path: [
              cluster.title,
              rack.title,
              cell.title,
              device.title
            ],
            data: device
          })
        } else if (cell_index) {
          let cluster = this.findObject(cluster_index, this.tree)
          let rack = this.findObject(rack_index, cluster.racks)
          let cell = this.findObject(cell_index, rack.cells)

          panes.push({
            index: x,
            type: 'cell',
            icon: 'border',
            title: cell.title,
            path: [
              cluster.title,
              rack.title,
              cell.title
            ],
            data: cell
          })
        } else if (rack_index) {
          let cluster = this.findObject(cluster_index, this.tree)
          let rack = this.findObject(rack_index, cluster.racks)

          panes.push({
            index: x,
            type: 'rack',
            icon: 'database',
            title: rack.title,
            path: [
              cluster.title,
              rack.title
            ],
            data: rack
          })
        } else if (cluster_index) {
          let cluster = this.findObject(cluster_index, this.tree)

          panes.push({
            index: x,
            type: 'cluster',
            icon: 'cluster',
            title: cluster.title,
            path: [
              cluster.title
            ],
            data: cluster
          })
        }
      })

      return panes
    },
    ...mapGetters('clusters', ['clusters']),
    ...mapGetters('tree', ['tree'])
  },
  watch: {
    value () {
      return this.value.length ? this.value : ['cl_1']
    }
  },

  methods: {

    formatPath () {
      return [...arguments].join('/')
    },

    removeTab (targetKey, action) {
      let index = this.value.indexOf(this.panes[targetKey].index)
      this.value.splice(index, 1)
    },

    findObject (index, objects) {
      return objects.find(function (element) {
        return element.index === index
      })
    }
  }
}
</script>

<style scoped lang="scss">
    .chart {
        padding: 0 25px;
    }

    .breadcrumb {
        padding: 25px 15px;
    }

    .nav {
        display: flex;
        justify-content: flex-end;

        &__datepicker {
            padding-left: 25px;
        }
    }

    .not_data {
        height: 100%;
        text-align: center;
    }
</style>
