<template>
  <div>
    <a-modal
      :visible="visible"
      width="70vw"
      @cancel="handleCancel()"
    >
      <a-row>
        <a-col span="24">
          <h1>Statistic information</h1>
          <a-divider />
        </a-col>
      </a-row>

      <cluster-states
        v-if="item.type==='cluster' && visible"
        :item="item"
      />

      <rack-states
        v-if="item.type==='rack' && visible"
        :item="item"
      />

      <cell-states
        v-if="item.type ==='cell' && visible"
        :item="item"
      />

      <device-states
        v-if="item.type ==='device' && visible"
        :item="item"
      />

      <board-states
        v-if="item.type ==='board' && visible"
        :item="item"
      />

      <template slot="footer">
        <div />
      </template>
    </a-modal>
  </div>
</template>

<script>

import ClusterStates from './States/ClusterStates'
import RackStates from './States/RackStates'
import CellStates from './States/CellStates'
import DeviceStates from './States/DeviceStates'
import BoardStates from './States/BoardStates'

export default {

  name: 'DashboardModal',

  components: { ClusterStates, RackStates, CellStates, DeviceStates, BoardStates },

  props: ['item', 'visibleStats'],
  data () {
    return {
      visible: false
    }
  },
  watch: {
    visibleStats () {
      this.visible = this.visibleStats
    }
  },
  destroyed () {
    console.log()
  },

  methods: {
    handleCancel (e) {
      this.visible = false
      this.$emit('onCloseStats')
    }
  }
}
</script>

<style scoped>

</style>
