<template>
  <div class="login">
    <div class="login__wrap">
      <a-divider dashed>
        <h1>Welcome</h1>
      </a-divider>

      <a-form @submit.prevent="handleSubmit()">
        <a-form-item
          :validate-status="$resolveInputState(errors.has('email'))"
          :help="errors.first('email')"
        >
          <a-input
            v-model="inputs.email"
            v-validate="rules.email"
            name="email"
            placeholder="email"
          >
            <a-icon
              slot="prefix"
              type="mail"
              style="color: rgba(0,0,0,.25)"
            />
          </a-input>
        </a-form-item>

        <a-form-item
          :validate-status="$resolveInputState(errors.has('password'))"
          :help="errors.first('password')"
        >
          <a-input
            v-model="inputs.password"
            v-validate="rules.password"
            name="password"
            placeholder="password"
            type="password"
          >
            <a-icon
              slot="prefix"
              type="lock"
              style="color: rgba(0,0,0,.25)"
            />
          </a-input>
        </a-form-item>

        <a-form-item>
          <a-button
            type="primary"
            html-type="submit"
            :loading="loading"
            block
          >
            Log in
          </a-button>
        </a-form-item>
      </a-form>

      <a-divider dashed>
        Or
      </a-divider>
      <div class="login__action">
        <router-link to="registration">
          Registration
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import 'bubbly-bg'

export default {
  name: 'LogIn',

  data () {
    return {
      loading: false,

      inputs: {
        email: null,
        password: null
      },

      rules: {
        email: {
          required: true,
          email: true
        },
        password: {
          required: true,
          min: 6
        }
      }
    }
  },

  methods: {
    handleSubmit () {
      let vm = this

      this.$validator.validate().then(valid => {
        if (!valid) return false
        vm.loading = true

        vm.logIn(vm.inputs)
          .then(() => {
            vm.$router.push('panel')
            vm.loading = false
          })

          .catch(response => {
            vm.$errorHandling(response)
            vm.loading = false
          })
      })
    },

    ...mapActions('auth', ['logIn'])
  }
}
</script>

<style scoped lang="scss">
    .login {
        height: 100vh;
        background: #f9f9f9;

        display: flex;
        justify-content: center;
        align-items: center;

        &__wrap {
            width: 350px;
            padding: 20px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background: #fff;

            position: relative;
            z-index: 2;
        }

        &__action {
            text-align: center;
        }
    }

</style>
