<template>
  <div class="reg">
    <div class="reg__wrap">
      <a-divider dashed>
        <h1>Registration</h1>
      </a-divider>

      <a-form @submit.prevent="handleSubmit()">
        <a-form-item
          :validate-status="$resolveInputState(errors.has('name'))"
          :help="errors.first('name')"
        >
          <a-input
            v-model="inputs.name"
            v-validate="rules.name"
            name="name"
            placeholder="Enter name"
          >
            <template #prefix>
              <a-icon
                type="user"
                style="color: rgba(0,0,0,.25)"
              />
            </template>
          </a-input>
        </a-form-item>

        <a-form-item
          :validate-status="$resolveInputState(errors.has('email'))"
          :help="errors.first('email')"
        >
          <a-input
            v-model="inputs.email"
            v-validate="rules.email"
            name="email"
            placeholder="Enter email"
          >
            <template #prefix>
              <a-icon
                type="mail"
                style="color: rgba(0,0,0,.25)"
              />
            </template>
          </a-input>
        </a-form-item>

        <a-form-item
          :validate-status="$resolveInputState(errors.has('password'))"
          :help="errors.first('password')"
        >
          <a-input
            ref="password"
            v-model="inputs.password"
            v-validate="rules.password"
            name="password"
            placeholder="Enter password"
            type="password"
          >
            <template #prefix>
              <a-icon
                type="lock"
                style="color: rgba(0,0,0,.25)"
              />
            </template>
          </a-input>
        </a-form-item>

        <a-form-item
          :validate-status="$resolveInputState(errors.has('password_confirmation'))"
          :help="errors.first('password_confirmation')"
        >
          <a-input
            v-model="inputs.password_confirmation"
            v-validate="rules.password_confirmation"
            name="password_confirmation"
            placeholder="Enter password confirmation"
            data-vv-as="password"
            type="password"
          >
            <template #prefix>
              <a-icon
                type="lock"
                style="color: rgba(0,0,0,.25)"
              />
            </template>
          </a-input>
        </a-form-item>
        <a-form-item
          :validate-status="$resolveInputState(errors.has('code'))"
          :help="errors.first('code')"
        >
          <a-input
            v-model="inputs.code"
            v-validate="rules.code"
            name="code"
            placeholder="Enter invitation code"
            type="text"
          >
            <template #prefix>
              <a-icon
                type="lock"
                style="color: rgba(0,0,0,.25)"
              />
            </template>

            <template #addonAfter>
              <a-tooltip placement="topLeft">
                <template #title>
                  <span>Information about receiving the invitation code...</span>
                </template>
                <a-icon type="info-circle" />
              </a-tooltip>
            </template>
          </a-input>
        </a-form-item>

        <a-form-item>
          <a-checkbox
            :checked="policy"
            @change="onPolicy"
          >
            I'm accept <a href="">Policy</a>
          </a-checkbox>
        </a-form-item>

        <a-button
          type="primary"
          html-type="submit"
          block
          :disabled="!policy"
          :loading="loading"
        >
          Registration
        </a-button>
      </a-form>

      <a-divider dashed>
        Or
      </a-divider>
      <div class="reg__action">
        <router-link to="/login">
          Sign In
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Registration',

  data () {
    return {
      loading: false,
      policy: true,
      inputs: {
        name: null,
        email: null,
        password: null,
        password_confirmation: null,
        code: null
      },
      rules: {
        name: {
          required: true,
          min: 3
        },
        email: {
          required: true,
          email: true
        },
        password: {
          required: true,
          min: 6,
          confirmed: 'password'
        },
        password_confirmation: {
          required: true,
          min: 6,
          confirmed: 'password'
        },
        code: {
          required: true
        }
      }
    }
  },
  mounted () {
    this.inputs.code = this.$route.params.code || null
  },

  methods: {

    handleSubmit () {
      let vm = this

      this.$validator.validate().then(valid => {
        if (!valid) return

        vm.loading = true

        this.$http.post('/api/auth/registration', this.inputs)

          .then(response => {
            vm.$message.success(response.data.message)
            vm.$router.push('login')
          })

          .catch(response => {
            vm.$errorHandling(response)
            vm.loading = false
          })
      })
    },

    onPolicy () {
      this.policy = !this.policy
    }
  }
}
</script>

<style scoped lang="scss">
    .reg {
        height: 100vh;
        background: #f9f9f9;

        display: flex;
        justify-content: center;
        align-items: center;

        &__wrap {
            width: 350px;
            padding: 20px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            background: #fff;
        }

        &__action {
            text-align: center;
        }
    }
</style>
