<!--suppress ALL -->
<template>
    <div>

        <a-spin :spinning="loading">
            <a-row>
                <a-col :span="24">
                    <div class="header">
                        <h2>CELL INFORMATION</h2>
                        <a @click="visibleStats = true">Open statistic</a>
                    </div>
                </a-col>
            </a-row>
            <a-row>
                <a-col :span="24">
                    <div class="block">
                        <a-badge :count="errors_data.length">
                            <h3>Diagnostic information</h3>
                        </a-badge>
                        <a-table
                                :columns="errors_columns"
                                :data-source="errors_data"
                                :pagination="false"
                                size="small"
                        >
              <span
                      slot="device_info"
                      slot-scope="device_info"
              >
                <a-badge :status="device_info.type"/>
                {{ device_info.title }}
              </span>
                        </a-table>
                    </div>
                </a-col>
            </a-row>
            <a-row>
                <a-col :span="24">
                    <div class="block">
                        <h3>General information</h3>
                        <a-table
                                :columns="cell_columns"
                                :data-source="cell_data"
                                bordered
                                :pagination="false"
                                size="middle"
                        >


                            <template #cooler_t="cooler_t">
                                <a-tooltip
                                        v-if="!!hasPropError('cooler_t')"
                                        placement="top"
                                >
                                    <template slot="title">
                                        {{ hasPropError('cooler_t').message }}
                                    </template>
                                    <a-icon
                                            type="exclamation-circle"
                                            class="error_icon"
                                    />
                                </a-tooltip>
                                {{ cooler_t }}
                            </template>

                            <template #chip_t_average="chip_t_average">
                                <a-tooltip
                                        v-if="!!hasPropError('chip_t_average')"
                                        placement="top"
                                >
                                    <template slot="title">
                                        {{ hasPropError('chip_t_average').message }}
                                    </template>
                                    <a-icon
                                            type="exclamation-circle"
                                            class="error_icon"
                                    />
                                </a-tooltip>
                                {{ chip_t_average }}
                            </template>

                        </a-table>
                    </div>
                </a-col>
            </a-row>
            <a-row>
                <a-col :span="24">
                    <a-table
                            :columns="asic_devices_columns"
                            :data-source="devices_data"
                            bordered
                            :pagination="false"
                            size="middle"
                            :row-class-name="rowError"
                    >
            <span
                    slot="device_info"
                    slot-scope="device_info"
            >
              {{ device_info.name }}  {{ device_info.version }}
            </span>

                        <span
                                slot="status"
                                slot-scope="status"
                        >
              <a-badge
                      v-if="status == 'online'"
                      status="success"
                      :text="status"
              />
              <a-badge
                      v-if="status == 'offline'"
                      status="error"
                      :text="status"
              />
            </span>

                        <a-table
                                slot="expandedRowRender"
                                slot-scope="record"
                                :columns="asic_inner_devices_columns"
                                :data-source="record.boards"
                                :pagination="false"
                                size="default"
                                :row-class-name="rowError"
                        />
                    </a-table>
                </a-col>
            </a-row>
            <dashboard-modal
                    :key="$route.params.id"
                    :item="item"
                    :visible-stats="visibleStats"
                    @onCloseStats="onCloseStats"
            />
        </a-spin>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    import DashboardModal from './Dashboard/DashboardModal'

    export default {

        components: {DashboardModal},

        data() {
            return {

                visibleStats: false,

                loading: false,

                cell: null,

                devices: null,

                errors_columns: [
                    {
                        title: 'Hardware',
                        dataIndex: 'device_info',
                        align: 'left',
                        scopedSlots: {customRender: 'device_info'},
                        width: 360
                    },
                    {title: 'Message', dataIndex: 'message', align: 'left'},
                    {title: 'Ago', dataIndex: 'time_ago', align: 'center'}
                ],

                cell_columns: [
                    {title: 'Hashrate', dataIndex: 'hashrate', align: 'center'},
                    {
                        title: 'Coolant temperature',
                        dataIndex: 'cooler_t',
                        align: 'center',
                        scopedSlots: {customRender: 'cooler_t'}
                    },
                    {
                        title: 'Chip average temperature\n',
                        dataIndex: 'chip_t_average',
                        align: 'center',
                        scopedSlots: {customRender: 'chip_t_average'}
                    }
                ],

                gpu_devices_columns: [
                    {
                        key: 1,
                        title: 'Device',
                        dataIndex: 'device_info',
                        scopedSlots: {customRender: 'device_info'},
                        align: 'left'
                    },
                    {key: 2, title: 'IP address', dataIndex: 'ip_address', align: 'center'},
                    {key: 3, title: 'Hashrate', dataIndex: 'hashrate', align: 'center'},
                    {key: 4, title: 'Board temperature', dataIndex: 'board_t', align: 'center'},
                    {key: 5, title: 'Chip temperature', dataIndex: 'chip_t', align: 'center'},
                    {key: 6, title: 'Up Time', dataIndex: 'up_time', align: 'center'},
                    {key: 7, title: 'Update Date', dataIndex: 'updated_at', align: 'center'},
                    {
                        key: 9,
                        title: 'Power',
                        dataIndex: 'status',
                        scopedSlots: {customRender: 'status'},
                        align: 'center'
                    }
                ],

                asic_devices_columns: [
                    {
                        key: 1,
                        title: 'Device',
                        dataIndex: 'device_info',
                        scopedSlots: {customRender: 'device_info'},
                        align: 'left'
                    },
                    {key: 2, title: 'IP address', dataIndex: 'ip_address', align: 'center'},
                    {key: 3, title: 'Hashrate', dataIndex: 'hashrate', align: 'center'},
                    {key: 8, title: 'Description', dataIndex: 'description', align: 'center'},
                    {key: 4, title: 'Board temperature', dataIndex: 'board_t', align: 'center'},
                    {key: 5, title: 'Chip temperature', dataIndex: 'chip_t', align: 'center'},
                    {key: 6, title: 'Up Time', dataIndex: 'up_time', align: 'center'},
                    {key: 7, title: 'Update Date', dataIndex: 'updated_at', align: 'center'},
                    {
                        key: 9,
                        title: 'Power',
                        dataIndex: 'status',
                        scopedSlots: {customRender: 'status'},
                        align: 'center'
                    }
                ],

                asic_inner_devices_columns: [
                    {key: 1, title: 'Board number', dataIndex: 'board', align: 'left'},
                    {key: 2, title: 'Hashrate', dataIndex: 'hashrate', align: 'center'},
                    {key: 3, title: 'Board temperature', dataIndex: 'board_t', align: 'center'},
                    {key: 4, title: 'Chip temperature', dataIndex: 'chip_t', align: 'center'}
                ],

                gpu_inner_devices_columns: [
                    {key: 1, title: 'Board number', dataIndex: 'board', align: 'left'},
                    {key: 2, title: 'Hashrate', dataIndex: 'hashrate', align: 'center'},
                    {key: 4, title: 'Chip temperature', dataIndex: 'chip_t', align: 'center'}
                ]
            }
        },

        computed: {
            ...mapGetters('errors', {hardwareErrors: 'errors'}),

            index() {
                let params = this.$route.params

                return `${params['cluster_index']}/${params['rack_index']}/${params['cell_index']}`
            },

            cell_data() {
                if (!this.cell) return []

                let cell_state = this.cell.latest_state

                return [
                    {
                        key: '1',
                        cooler_t: cell_state.cooler_t + '°C',
                        hashrate: `${cell_state.hashrate}${cell_state.hashrate_unit}/s`,
                        chip_t_average: cell_state.chip_t_average + '°C'
                    }
                ]
            },

            devices_data() {
                if (!this.cell) return []

                let devices = []

                for (let item in this.devices) {
                    let d = this.cell.devices[item]

                    let d_state = d.latest_state

                    let device = {
                        key: item,
                        device_info: {name: d.title, version: d_state.version},
                        ip_address: d_state.ip_address,
                        hashrate: `${d_state.hashrate}${d_state.hashrate_unit}/s`,
                        description: d_state.description,
                        board_t: d_state.board_t + '°C',
                        chip_t: d_state.chip_t + '°C',
                        description: d_state.description,
                        up_time: this.timeCounter(d_state.up_time_sec),
                        updated_at: d_state.updated_at,
                        status: d_state.power_state ? 'online' : 'offline',
                        error: !d_state.health_state,
                        path: d.path,
                        boards: []
                    }

                    for (let item in d.boards) {
                        let b = d.boards[item]

                        let b_state = b.latest_state

                        let board = {
                            key: item,
                            board: b.title,
                            hashrate: `${b_state.hashrate}${b_state.hashrate_unit}/s`,
                            board_t: b_state.board_t + '°C',
                            chip_t: b_state.chip_t + '°C',
                            error: !b_state.health_state
                        }

                        device.boards.push(board)
                    }

                    devices.push(device)
                }

                return devices
            },

            errors_data() {
                return this.$getHardwareNestedErrors(this.cell)
            },

            item() {
                return {
                    type: 'cell',
                    index: this.index
                }
            },

        },

        watch: {
            index() {
                this.fetch()
            }
        },

        created() {
            this.fetch()
        },

        methods: {

            fetch() {
                this.loading = true
                let hardware = this.$getHardware('/' + this.index)
                this.cell = hardware.hardware
                this.devices = hardware.hardware.devices

                setTimeout(() => this.loading = false, 100)
            },

            rowError(record, index) {
                for (let item in this.hardwareErrors) {
                    if (item.search(record.path) > 0) {
                        return 'error'
                    }
                }
                return ''
            },

            timeCounter(seconds) {
                let date = new Date(parseInt(seconds * 1000))
                return date.toISOString().substr(11, 8)
            },

            onCloseStats() {
                this.visibleStats = false
            },

            hasPropError(propIndex) {
                return this.errors_data.find(item => {
                    return item.code === propIndex
                })
            }
        }
    }
</script>

<style lang="scss">

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .block {
        padding: 25px 0;
    }

    .error {
        background: rgba(255, 34, 45, 0.1);
        animation: error 3s infinite;
    }

    @keyframes error {
        0% {
            background: rgba(255, 255, 255, 1);
        }
        50% {
            background: rgba(255, 0, 0, 0.1);
        }
        100% {
            background: rgba(255, 255, 255, 1);
        }
    }

    .error_icon {
        color: red;
        animation: error_icon 3s infinite;
        cursor: pointer;
    }

    @keyframes error_icon {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
