<!--suppress ALL -->
<template>
    <div>
        <a-spin :spinning="loading">
            <div>
                <a-row>
                    <a-col :span="24">
                        <div class="header">
                            <h2>CLUSTER INFORMATION</h2>
                            <a @click="visibleStats = true">Open statistic</a>
                        </div>
                    </a-col>
                </a-row>
                <a-row>
                    <a-col :span="24">
                        <div class="block">
                            <a-badge :count="errors_data.length">
                                <h3>Diagnostic information</h3>
                            </a-badge>
                            <a-table
                                    :columns="errors_columns"
                                    :data-source="errors_data"
                                    :pagination="false"
                                    size="small"
                            >
                                <template #device_info="device_info">
                                    <a-badge :status="device_info.type"/>
                                    {{ device_info.title }}
                                </template>
                            </a-table>
                        </div>
                    </a-col>
                </a-row>
                <a-row>
                    <a-col :span="24">
                        <div class="block">
                            <h3>Cluster hashrate</h3>
                            <!--suppress CheckEmptyScriptTag -->
                            <a-table
                                    :columns="devices_columns"
                                    :data-source="devices_data"
                                    bordered
                                    :pagination="false"
                                    size="middle"
                            />
                        </div>
                    </a-col>
                    <a-col :span="24">
                        <div class="block">
                            <h3>Cooler</h3>
                            <a-table
                                    :columns="cooler_columns"
                                    :data-source="cooler_data"
                                    bordered
                                    :pagination="false"
                                    size="middle"
                            >
                                <template #cooler_t_common="cooler_t_common">
                                    <a-tooltip
                                            v-if="!!hasPropError('cooler_t_common')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('cooler_t_common').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ cooler_t_common }}
                                </template>

                                <template #cooler_t_entry="cooler_t_entry">
                                    <a-tooltip
                                            v-if="!!hasPropError('cooler_t_entry')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('cooler_t_entry').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ cooler_t_entry }}
                                </template>

                                <template #cooler_t_out="cooler_t_out">
                                    <a-tooltip
                                            v-if="!!hasPropError('cooler_t_out')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('cooler_t_out').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ cooler_t_out }}
                                </template>

                                <template #cooler_pressure="cooler_pressure">
                                    <a-tooltip
                                            v-if="!!hasPropError('cooler_pressure')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('cooler_pressure').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ cooler_pressure }}
                                </template>
                            </a-table>
                        </div>
                    </a-col>
                </a-row>
                <a-row>
                    <a-col :span="12">
                        <div class="block">
                            <h3>Power consumption (current)</h3>
                            <a-table
                                    :columns="cpc_columns"
                                    :data-source="cpc_data"
                                    bordered
                                    :pagination="false"
                                    size="middle"
                            >
                                <template #cpc_common="cpc_common">
                                    <a-tooltip
                                            v-if="!!hasPropError('cpc_common')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('cpc_common').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ cpc_common }}
                                </template>

                                <template #cpc_computing_equipment="cpc_computing_equipment">
                                    <a-tooltip
                                            v-if="!!hasPropError('cpc_computing_equipment')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('cpc_computing_equipment').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ cpc_computing_equipment }}
                                </template>

                                <template #cpc_cooling_equipment="cpc_cooling_equipment">
                                    <a-tooltip
                                            v-if="!!hasPropError('cpc_cooling_equipment')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('cpc_cooling_equipment').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ cpc_cooling_equipment }}
                                </template>
                            </a-table>
                        </div>
                    </a-col>
                    <a-col :span="12">
                        <div class="block">
                            <h3>Power Consumption (accumulated)</h3>
                            <a-table
                                    :columns="apc_columns"
                                    :data-source="apc_data"
                                    bordered
                                    :pagination="false"
                                    size="middle"
                            >
                                <template #apc_common="apc_common">
                                    <a-tooltip
                                            v-if="!!hasPropError('apc_common')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('apc_common').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ apc_common }}
                                </template>

                                <template #apc_computing_equipment="apc_computing_equipment">
                                    <a-tooltip
                                            v-if="!!hasPropError('apc_computing_equipment')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('apc_computing_equipment').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ apc_computing_equipment }}
                                </template>

                                <template #apc_cooling_equipment="apc_cooling_equipment">
                                    <a-tooltip
                                            v-if="!!hasPropError('apc_cooling_equipment')"
                                            placement="top"
                                    >
                                        <template slot="title">
                                            {{ hasPropError('apc_cooling_equipment').message }}
                                        </template>
                                        <a-icon
                                                type="exclamation-circle"
                                                class="error_icon"
                                        />
                                    </a-tooltip>
                                    {{ apc_cooling_equipment }}
                                </template>
                            </a-table>
                        </div>
                    </a-col>
                </a-row>
                <a-row>
                    <a-col :span="12">
                        <div class="block">
                            <h3>Amperage</h3>
                            <a-table
                                    :columns="amperage_columns"
                                    :data-source="amperage_data"
                                    bordered
                                    :pagination="false"
                                    size="middle"
                            />
                        </div>
                    </a-col>
                    <a-col :span="12">
                        <div class="block">
                            <h3>Voltage</h3>
                            <a-table
                                    :columns="voltage_columns"
                                    :data-source="voltage_data"
                                    bordered
                                    :pagination="false"
                                    size="middle"
                            />
                        </div>
                    </a-col>
                </a-row>
            </div>
            <dashboard-modal
                    :item="item"
                    :visible-stats="visibleStats"
                    @onCloseStats="onCloseStats"
            />
        </a-spin>
    </div>
</template>

<script>
    import DashboardModal from './Dashboard/DashboardModal'

    const cooler_columns = [
        {
            title: 'Температура общая',
            dataIndex: 'cooler_t_common',
            align: 'center',
            scopedSlots: {customRender: 'cooler_t_common'}
        },
        {
            title: 'Temperature in',
            dataIndex: 'cooler_t_entry',
            align: 'center',
            scopedSlots: {customRender: 'cooler_t_entry'}
        },
        {
            title: 'Temperature out',
            dataIndex: 'cooler_t_out',
            align: 'center',
            scopedSlots: {customRender: 'cooler_t_out'}
        },
        {
            title: 'System pressure',
            dataIndex: 'cooler_pressure',
            align: 'center',
            scopedSlots: {customRender: 'cooler_pressure'}
        },
        {title: 'Fan speed', dataIndex: 'fan_speed', align: 'center'}
    ]

    const cpc_columns = [
        {
            title: 'Total consumption',
            dataIndex: 'cpc_common',
            align: 'center',
            scopedSlots: {customRender: 'cpc_common'}
        },
        {
            title: 'Computing equipment',
            dataIndex: 'cpc_computing_equipment',
            align: 'center',
            scopedSlots: {customRender: 'cpc_computing_equipment'}
        },
        {
            title: 'Cooling equipment',
            dataIndex: 'cpc_cooling_equipment',
            align: 'center',
            scopedSlots: {customRender: 'cpc_cooling_equipment'}
        }
    ]

    const apc_columns = [
        {
            title: 'Total consumption',
            dataIndex: 'apc_common',
            align: 'center',
            scopedSlots: {customRender: 'apc_common'}
        },
        {
            title: 'Computing equipment',
            dataIndex: 'apc_computing_equipment',
            align: 'center',
            scopedSlots: {customRender: 'apc_computing_equipment'}
        },
        {
            title: 'Cooling equipment',
            dataIndex: 'apc_cooling_equipment',
            align: 'center',
            scopedSlots: {customRender: 'apc_cooling_equipment'}
        }
    ]

    const voltage_columns = [
        {title: 'Phase 1', dataIndex: 'voltage_ph1', align: 'center'},
        {title: 'Phase 2', dataIndex: 'voltage_ph2', align: 'center'},
        {title: 'Phase 3', dataIndex: 'voltage_ph3', align: 'center'}
    ]

    const amperage_columns = [
        {title: 'Phase 1', dataIndex: 'amperage_ph1', align: 'center'},
        {title: 'Phase 2', dataIndex: 'amperage_ph2', align: 'center'},
        {title: 'Phase 3', dataIndex: 'amperage_ph3', align: 'center'}
    ]

    const devices_columns = [
        {title: 'Miner type', dataIndex: 'type', align: 'center'},
        {title: 'HashRate', dataIndex: 'hashrate', align: 'center'}
    ]

    const errors_columns = [
        {
            title: 'Hardware',
            dataIndex: 'device_info',
            align: 'left',
            scopedSlots: {customRender: 'device_info'},
            width: 360
        },
        {title: 'Message', dataIndex: 'message', align: 'left'},
        {title: 'Ago', dataIndex: 'time_ago', align: 'center'}
    ]

    export default {

        components: {DashboardModal},

        data() {
            return {

                visibleStats: false,
                loading: true,

                cluster: null,

                // Охладитель
                cooler_columns: cooler_columns,

                // Текущее потребление
                cpc_columns: cpc_columns,

                // Наопленное потребление
                apc_columns: apc_columns,

                // Ток
                amperage_columns: amperage_columns,

                voltage_columns: voltage_columns,

                // устройства
                devices_columns: devices_columns,

                errors_columns: errors_columns

            }
        },

        computed: {

            index() {
                return this.$route.params['cluster_index']
            },

            // Мощность устройства
            devices_data() {
                if (!this.cluster) return []

                return [
                    {
                        key: '1',
                        type: 'Asic',
                        hashrate: `${this.cluster.latest_hashrates.asic.hashrate} ${this.cluster.latest_hashrates.asic.hashrate_unit}/s`
                    },

                    {
                        key: '2',
                        type: 'Gpu',
                        hashrate: `${this.cluster.latest_hashrates.gpu.hashrate} ${this.cluster.latest_hashrates.gpu.hashrate_unit}/s`
                    },
                    {
                        key: '3',
                        type: 'Fpga',
                        hashrate: `${this.cluster.latest_hashrates.fpga.hashrate} ${this.cluster.latest_hashrates.fpga.hashrate_unit}/s`
                    }
                ]
            },

            // Ток
            amperage_data() {
                if (!this.cluster) return []

                return [{
                    key: '1',
                    amperage_ph1: this.cluster.latest_state.amperage_ph1 + 'A',
                    amperage_ph2: this.cluster.latest_state.amperage_ph2 + 'A',
                    amperage_ph3: this.cluster.latest_state.amperage_ph3 + 'A'
                }]
            },

            // Напряжение
            voltage_data() {
                if (!this.cluster) return []

                return [{
                    key: '1',
                    voltage_ph1: this.cluster.latest_state.voltage_ph1 + 'V',
                    voltage_ph2: this.cluster.latest_state.voltage_ph2 + 'V',
                    voltage_ph3: this.cluster.latest_state.voltage_ph3 + 'V'
                }]
            },

            // Охладитель
            cooler_data() {
                if (!this.cluster) return []
                return [{
                    key: '1',
                    cooler_t_common: this.cluster.latest_state.cooler_t_common + '°C',
                    cooler_t_entry: this.cluster.latest_state.cooler_t_entry + '°C',
                    cooler_t_out: this.cluster.latest_state.cooler_t_out + '°C',
                    cooler_pressure: this.cluster.latest_state.cooler_pressure + 'Bar',
                    fan_speed: this.cluster.latest_state.fan_speed + '/min'
                }]
            },

            // Текущее потребление
            cpc_data() {
                if (!this.cluster) return []
                return [{
                    key: '1',
                    cpc_common: this.cluster.latest_state.cpc_common + 'W',
                    cpc_computing_equipment: this.cluster.latest_state.cpc_computing_equipment + 'W',
                    cpc_cooling_equipment: this.cluster.latest_state.cpc_cooling_equipment + 'W'
                }]
            },

            // Наопленное потребление
            apc_data() {
                if (!this.cluster) return []

                return [{
                    key: '1',
                    apc_common: this.cluster.latest_state.apc_common + 'W',
                    apc_computing_equipment: this.cluster.latest_state.apc_computing_equipment + 'W',
                    apc_cooling_equipment: this.cluster.latest_state.apc_cooling_equipment + 'W'
                }]
            },

            item() {
                return {
                    type: 'cluster',
                    index: this.index
                }
            },

            errors_data() {
                return this.$getHardwareErrors(this.cluster)
            }
        },

        watch: {
            index() {
                this.fetch()
            }
        },

        created() {
            this.fetch()
        },

        methods: {
            fetch() {
                this.loading = true
                let hardware = this.$getHardware('/' + this.index)
                this.cluster = hardware.hardware

                setTimeout(() => this.loading = false, 100)
            },

            onCloseStats() {
                this.visibleStats = false
            },

            hasPropError(propIndex) {
                return this.errors_data.find(item => {
                    return item.code === propIndex
                })
            }
        }

    }
</script>

<style lang="scss" scoped>
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .block {
        padding: 15px;
    }

    .error_icon {
        color: red;
        animation: error_icon 3s infinite;
        cursor: pointer;
    }

    @keyframes error_icon {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
