<template>
  <div>
    <a-row>
      <a-col>
        <h1>Invitations</h1>
      </a-col>
    </a-row>

    <a-divider />

    <a-row>
      <a-col span="4">
        <a-form
          class="form"
          @submit.prevent="handleCreateInvitation()"
        >
          <h3> Create code</h3>
          <a-form-item
            :validate-status="$resolveInputState(errors.has('email'))"
            :help="errors.first('email')"
          >
            <a-input
              v-model="inputs.email"
              v-validate="rules.email"
              name="email"
              placeholder="Enter email"
            >
              <template #prefix>
                <a-icon
                  type="mail"
                  style="color: rgba(0,0,0,.25)"
                />
              </template>
            </a-input>
          </a-form-item>

          <a-form-item
            :validate-status="$resolveInputState(errors.has('code'))"
            :help="errors.first('code')"
          >
            <a-input
              v-model="inputs.code"
              v-validate="rules.code"
              name="code"
              placeholder="Enter code"
            >
              <template #prefix>
                <a-icon
                  type="lock"
                  style="color: rgba(0,0,0,.25)"
                />
              </template>

              <template #addonAfter>
                <a
                  href="javascript:void(0)"
                  @click="generateCode()"
                >
                  <a-icon type="plus-square" />
                </a>
              </template>
            </a-input>
          </a-form-item>

          <a-form-item
            :validate-status="$resolveInputState(errors.has('opc_id'))"
            :help="errors.first('opc_id')"
          >
            <a-input
              v-model="inputs.opc_id"
              v-validate="rules.opc_id"
              name="opc_id"
              placeholder="Enter opc id"
            >
              <template #prefix>
                <a-icon
                  type="lock"
                  style="color: rgba(0,0,0,.25)"
                />
              </template>
            </a-input>
          </a-form-item>

          <a-form-item>
            <a-button
              type="primary"
              html-type="submit"
              :loading="loading"
              block
            >
              Create
            </a-button>
          </a-form-item>
        </a-form>
      </a-col>
      <a-col span="20">
        <div class="list_wrap">
          <h3>List</h3>
          <a-table
            :columns="list_col"
            :data-source="list_data"
            :pagination="false"
            :loading="loadingList"
            @change="handleTableChange"
          >
            <template
              slot="user"
              slot-scope="user"
            >
              <div v-if="user">
                {{ user.name }}<br>{{ user.email }}
              </div>
              <div v-else>
                <a-tag color="#f50">
                  not used code
                </a-tag>
              </div>
            </template>
          </a-table>
        </div>
      </a-col>
    </a-row>
  </div>
</template>

<script>
const columns = [
  { title: 'Code', dataIndex: 'code', width: '20%' },
  { title: 'Opc_ic', dataIndex: 'opc_id', width: '20%' },
  { title: 'User', dataIndex: 'user', width: '20%', scopedSlots: { customRender: 'user' } },
  { title: 'Code created', dataIndex: 'created_at', width: '20%' },
  { title: 'User used code', dataIndex: 'updated_at', width: '20%' }
]

export default {
  name: 'Invitations',

  data () {
    return {
      loading: false,
      loadingList: false,
      invitations: [],

      inputs: {
        email: null,
        code: null,
        opc_id: null
      },

      rules: {
        email: {
          email: true,
          required: true
        },
        code: {
          required: true,
          min: 6
        },
        opc_id: {
          required: true,
          integer: true
        }
      },

      list_col: columns,
      list_data: []
    }
  },
  created () {
    this.fetch()
  },

  methods: {
    handleCreateInvitation () {
      let vm = this
      this.$validator.validate().then(valid => {
        if (!valid) return

        vm.loading = true

        this.$http.post(`${this.$config.hostApi}/invitation/store`, this.inputs)

          .then(response => {
            vm.$message.success(response.data.message)
            vm.loading = false
            this.resetForm()
            this.fetch()
          })

          .catch(response => {
            vm.$errorHandling(response)
            vm.loading = false
          })
      })
    },

    generateCode () {
      let length = 6
      let result = ''
      let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
      let charactersLength = characters.length
      for (let i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength))
      }

      this.inputs.code = result
    },

    fetch () {
      this.loadingList = true

      this.$http.get(`${this.$config.hostApi}/invitation/index`)
        .then(res => {
          this.list_data = res.data
          this.loadingList = false
        })
        .catch(res => {
          this.$errorHandling(res)
          this.loadingList = false
        })
    },

    resetForm () {
      this.$validator.pause()

      for (let input in this.inputs) {
        this.inputs[input] = null
      }

      this.$nextTick(() => {
        this.$validator.errors.clear()
        this.$validator.fields.items.forEach(field => field.reset())
        this.$validator.fields.items.forEach(field => this.errors.remove(field))
        this.$validator.resume()
      })
    }
  }
}
</script>

<style scoped>
    .list_wrap, .form {
        padding: 0 15px;
    }
</style>
