<template>
  <div>
    <a-spin :spinning="loading">
      <a-row>
        <a-col :span="24">
          <div class="header">
            <h2>RACK INFORMATION</h2>
            <a @click="visibleStats = true">Open statistic</a>
          </div>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <div class="block">
            <a-badge :count="errors_data.length">
              <h3>Diagnostic information</h3>
            </a-badge>
            <a-table
              :columns="errors_columns"
              :data-source="errors_data"
              :pagination="false"
              size="small"
            >
              <span
                slot="device_info"
                slot-scope="device_info"
              >
                <a-badge :status="device_info.type" />
                {{ device_info.title }}
              </span>
            </a-table>
          </div>
        </a-col>
      </a-row>
      <a-row>
        <a-col :span="24">
          <div class="block">
            <h3>Rack hashrate</h3>
            <a-table
              :columns="hashrate_columns"
              :data-source="hashrate_data"
              bordered
              :pagination="false"
              size="middle"
            />
          </div>
        </a-col>
        <a-col :span="24">
          <div class="block">
            <h3>General information</h3>
            <a-table
              :columns="cell_columns"
              :data-source="rack_data"
              bordered
              :pagination="false"
              size="middle"
            >
              <template #cooler_t="cooler_t">
                <a-tooltip
                  v-if="!!hasPropError('cooler_t')"
                  placement="top"
                >
                  <template slot="title">
                    {{ hasPropError('cooler_t').message }}
                  </template>
                  <a-icon
                    type="exclamation-circle"
                    class="error_icon"
                  />
                </a-tooltip>
                {{ cooler_t }}
              </template>

              <template #chip_t_average="chip_t_average">
                <a-tooltip
                  v-if="!!hasPropError('chip_t_average')"
                  placement="top"
                >
                  <template slot="title">
                    {{ hasPropError('chip_t_average').message }}
                  </template>
                  <a-icon
                    type="exclamation-circle"
                    class="error_icon"
                  />
                </a-tooltip>
                {{ chip_t_average }}
              </template>
            </a-table>
          </div>
        </a-col>
      </a-row>
      <dashboard-modal
        :item="item"
        :visible-stats="visibleStats"
        @onCloseStats="onCloseStats"
      />
    </a-spin>
  </div>
</template>

<script>

import DashboardModal from './Dashboard/DashboardModal'
import { mapGetters } from 'vuex'
import config from '@/app.config'

const cell_columns = [
  { title: 'Coolant temperature', dataIndex: 'cooler_t', align: 'center', scopedSlots: { customRender: 'cooler_t' } },
  { title: 'Chip average temperature', dataIndex: 'chip_t_average', align: 'center', scopedSlots: { customRender: 'chip_t_average' } }
]
const hashrate_columns = [
  { title: 'Miner type', dataIndex: 'type', align: 'center' },
  { title: 'Hashrate', dataIndex: 'hashrate', align: 'center' }
]
const errors_columns = [
  { title: 'Hardware', dataIndex: 'device_info', align: 'left', scopedSlots: { customRender: 'device_info' }, width: 360 },
  { title: 'Message', dataIndex: 'message', align: 'left' },
  { title: 'Ago', dataIndex: 'time_ago', align: 'center' }
]

export default {

  name: 'Rack',

  components: { DashboardModal },

  data () {
    return {
      visibleStats: false,
      loading: false,
      rack: null,
      cell_columns: cell_columns,
      hashrate_columns: hashrate_columns,
      errors_columns: errors_columns
    }
  },

  computed: {
    ...mapGetters('errors', { hardwareErrors: 'errors' }),

    index () {
      return `${this.$route.params['cluster_index']}/${this.$route.params['rack_index']}`
    },

    hashrate_data () {
      if (!this.rack) return []

      return [
        {
          key: '1',
          type: 'Asic',
          hashrate: `${this.rack.latest_hashrates.asic.hashrate} ${this.rack.latest_hashrates.asic.hashrate_unit}/s`
        },

        {
          key: '2',
          type: 'Gpu',
          hashrate: `${this.rack.latest_hashrates.gpu.hashrate} ${this.rack.latest_hashrates.gpu.hashrate_unit}/s`
        },

        {
          key: '3',
          type: 'Fpga',
          hashrate: `${this.rack.latest_hashrates.fpga.hashrate} ${this.rack.latest_hashrates.fpga.hashrate_unit}/s`
        }
      ]
    },

    rack_data () {
      if (!this.rack) return []

      return [
        {
          key: '1',
          cooler_t: this.rack.latest_state.cooler_t + '°C',
          chip_t_average: this.rack.latest_state.chip_t_average + '°C'
        }
      ]
    },

    errors_data () {
      return this.$getHardwareErrors(this.rack)
    },

    item () {
      return {
        type: 'rack',
        index: this.index
      }
    }

  },
  watch: {
    index () {
      this.fetch()
    }
  },
  created () {
    this.fetch()
  },

  methods: {
    onCloseStats () {
      this.visibleStats = false
    },
    fetch () {
      this.loading = true
      let hardware = this.$getHardware('/' + this.index)
      this.rack = hardware.hardware

      setTimeout(() => this.loading = false, 100)
    },
    hasPropError (propIndex) {
      return this.errors_data.find(item => { return item.code === propIndex })
    }
  }

}
</script>

<style lang="scss" scoped>

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .block {
        padding: 15px;
    }

    .error_icon{
        color: red;
        animation: error_icon 3s infinite;
        cursor: pointer;
    }

    @keyframes error_icon {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
