<template>
  <a-layout-content class="main">
    <router-view />
  </a-layout-content>
</template>

<script>
export default {
  name: 'PanelMain'
}
</script>

<style scoped lang="scss">
    .main {
        background: #fff;
        padding: 24px;
        margin: 24px;
    }
</style>
