<template>
  <div>
    <a-row>
      <a-col span="24">
        <div class="header">
          <a-breadcrumb>
            <a-breadcrumb-item v-for="path in item.path">
              {{ path }}
            </a-breadcrumb-item>
          </a-breadcrumb>

          <a-range-picker
            v-model="range_date"
            :disabled-date="disabledDate"
            @change="changeRange"
          />
        </div>
      </a-col>

      <a-col span="24">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Hashrate</h2>
            <apexchart
              width="100%"
              height="300"
              type="area"
              :options="hashrate.options"
              :series="hashrate.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-divider />

      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Coolant temperature</h2>
            <apexchart
              width="95%"
              height="300"
              type="area"
              :options="cooler_t.options"
              :series="cooler_t.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Chip temperature (average)</h2>
            <apexchart
              width="95%"
              height="300"
              type="area"
              :options="chip_t_average.options"
              :series="chip_t_average.series"
            />
          </div>
        </a-spin>
      </a-col>
    </a-row>
  </div>
</template>

<script>

export default {

  name: 'ClusterStates',

  props: ['item'],

  data () {
    return {
      loading: true,
      stats: [],
      range_date: [this.$moment(), this.$moment()]
    }
  },

  computed: {

    hashrate () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy hh:mm'
          },
          y: {
            formatter: value => {
              return `${value} ${this.stats.hashrate_unit}/s`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#00e396', '#eeb533', '#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'cooler-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 5,
          max: max => { return max * 1.05 },
          min: min => { return min / 1.2 }
        }
      }

      let series = [

        {
          name: 'hashrate',
          data: this.stats.hashrate || []
        }

      ]

      return { series, options }
    },

    cooler_t () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy hh:mm'
          },
          y: {
            formatter: value => {
              return `${value} °C`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'cooler-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 5,
          max: max => { return max * 1.2 },
          min: min => { return min / 1.2 }
        }
      }

      let series = [

        {
          name: 'Температура',
          data: this.stats.cooler_t || []
        }

      ]

      return { series, options }
    },

    chip_t_average () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy hh:mm'
          },
          y: {
            formatter: value => {
              return `${value} °C`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'cooler-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 5,
          max: max => { return max * 1.05 },
          min: min => { return min / 1.2 }
        }
      }

      let series = [

        {
          name: 'Средняя температура чипа',
          data: this.stats.chip_t_average || []
        }

      ]

      return { series, options }
    }

  },

  created () {
    this.fetch()
  },

  methods: {

    changeRange () {
      this.fetch()
    },

    fetch () {
      let than = this
      let [start, end] = this.range_date
      this.loading = true
      this.$http.post(`${this.$config.hostApi}/states/cell`, {
        'index': this.item.index,
        'start': start,
        'end': end
      })

        .then(res => {
          than.stats = res.data.data
          than.loading = false
        }
        )

        .catch(res => {
          than.$errorHandling(res)
          than.loading = false
        })
    },

    disabledDate (date) {
      let before = this.$moment(this.stats.min_date).set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
      return !date || date.isAfter(this.$moment()) || date.isBefore(before)
    }

  }
}
</script>

<style scoped>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .wrap h2 {
        padding: 0 0 0px 15px;
    }
</style>
