<template>
  <div>
    <a-row>
      <a-col span="24">
        <div class="header">
          <a-breadcrumb>
            <a-breadcrumb-item v-for="path in item.path">
              {{ path }}
            </a-breadcrumb-item>
          </a-breadcrumb>

          <a-range-picker
            v-model="range_date"
            :disabled-date="disabledDate"
            @change="changeRange"
          />
        </div>
      </a-col>

      <a-col span="24">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Hashrate</h2>
            <h4>Asic</h4>
            <apexchart
              width="100%"
              height="160px"
              type="area"
              :options="hashrate_asic.options"
              :series="hashrate_asic.series"
            />
            <h4>Gpu</h4>
            <apexchart
              width="100%"
              height="160px"
              type="area"
              :options="hashrate_gpu.options"
              :series="hashrate_gpu.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-divider />

      <a-col span="24">
        <a-spin :spinning="loading">
          <h2>Cooler</h2>
          <apexchart
            width="100%"
            height="350px"
            type="area"
            :options="cooler.options"
            :series="cooler.series"
          />
        </a-spin>
      </a-col>
    </a-row>

    <a-divider />

    <a-row>
      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Power consumption (current)</h2>
            <apexchart
              width="100%"
              height="350px"
              type="area"
              :options="cpc.options"
              :series="cpc.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Power Consumption (Accumulated)</h2>
            <apexchart
              width="100%"
              height="350px"
              type="area"
              :options="apc.options"
              :series="apc.series"
            />
          </div>
        </a-spin>
      </a-col>
    </a-row>

    <a-divider />
    <!--

                <a-row>

                    <a-col span="12">
                        <a-spin :spinning="loading">
                            <div class="wrap">
                                <h2>Voltage</h2>
                                <apexchart width="100%" height="350px" type="area" :options="voltage.options"
                                           :series="voltage.series"/>
                            </div>
                        </a-spin>
                    </a-col>

                    <a-col span="12">
                        <a-spin :spinning="loading">
                            <div class="wrap">
                                <h2>Amperage</h2>
                                <apexchart width="100%" height="350px" type="area" :options="amperage.options"
                                           :series="amperage.series"/>
                            </div>
                        </a-spin>
                    </a-col>

                </a-row>
        -->
  </div>
</template>

<script>

export default {

  name: 'ClusterStates',

  props: ['item'],

  data () {
    return {
      loading: true,
      stats: [],
      range_date: [this.$moment(), this.$moment()]
    }
  },

  computed: {

    hashrate_asic () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value) => {
              return `${value} ${this.stats.hashrate_unit.asic}/s`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 6
          }
        },

        colors: ['#00e396'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'asic-chart'
        },

        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 2,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }

      }

      let series = [

        {
          name: 'Asic',
          data: this.stats.hashrate ? this.stats.hashrate.asic : []
        }

      ]

      return { series, options }
    },

    hashrate_gpu () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value) => {
              return `${value} ${this.stats.hashrate_unit.gpu}/s`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#eeb533'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'gpu-chart'
        },

        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 2,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }

      }

      let series = [

        {
          name: 'Gpu',
          data: this.stats.hashrate ? this.stats.hashrate.gpu : []
        }

      ]

      return { series, options }
    },

    cooler () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value, { ser, seriesIndex, dataPointIndex, w }) => {
              if (series[seriesIndex].name === 'temp') { return `${value} °C` }

              if (series[seriesIndex].name === 'pressure') { return `${value} Bar` }

              if (series[seriesIndex].name === 'fan') { return `${value} speed/s` }
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#00e396', '#eeb533', '#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left',
          formatter: (value, { ser, seriesIndex, dataPointIndex, w }) => {
            if (series[seriesIndex].name === 'temp') { return `Общая температура` }

            if (series[seriesIndex].name === 'pressure') { return `Давление в системе` }

            if (series[seriesIndex].name === 'fan') { return `Скорость вентилятора` }
          }
        },

        chart: {
          id: 'cooler-chart'
        },

        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 3,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }

      }

      let series = [

        {
          name: 'temp',
          data: this.stats.cooler_t_common || []
        },
        {
          name: 'pressure',
          data: this.stats.cooler_pressure || []
        },
        {
          name: 'fan',
          data: this.stats.fan_speed || []
        }

      ]

      return { series, options }
    },

    cpc () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: value => {
              return `${value} W`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 6
          }
        },
        colors: ['#00e396', '#eeb533', '#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'cooler-chart',
          autoSelected: 'zoom'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 3,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }
      }

      let series = [

        {
          name: 'Общее потребление',
          data: this.stats.cpc_common || []
        },
        {
          name: 'Вычислительное оборудование',
          data: this.stats.cpc_computing_equipment || []
        },
        {
          name: 'Охладительное оборудование',
          data: this.stats.cpc_cooling_equipment || []
        }

      ]

      return { series, options }
    },

    apc () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: value => {
              return `${value} W`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#00e396', '#eeb533', '#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'cooler-chart'
        },

        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 3,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }
      }

      let series = [

        {
          name: 'Общее потребление',
          data: this.stats.apc_common || []
        },
        {
          name: 'Вычислительное оборудование',
          data: this.stats.apc_computing_equipment || []
        },
        {
          name: 'Охладительное оборудование',
          data: this.stats.apc_cooling_equipment || []
        }

      ]

      return { series, options }
    }

    /* voltage() {

                let options = {

                    tooltip: {
                        x: {
                            format: "dd-MM-yyyy HH:mm"
                        },
                        y: { formatter: value => {return `${value} V` }}
                    },
                    markers: {
                        size: 4,
                        hover: {
                            size: 8
                        }
                    },
                    colors: ['#00e396', '#eeb533', '#3dbaf8'],

                    legend: {
                        position: 'top',
                        horizontalAlign: 'left'
                    },

                    chart: {
                        id: 'cooler-chart'
                    },
                    xaxis: {
                        type: 'datetime',
                        categories: this.stats.label || []
                    },

                    yaxis: {
                        tickAmount: 3,
                        max: max => {return max*1.2},
                        min: min => {return min/1.2},
                    },
                };

                let series = [

                    {
                        name: 'Фаза 1',
                        data: this.stats.voltage_ph1 || []
                    },
                    {
                        name: 'Фаза 2',
                        data: this.stats.voltage_ph2 || []
                    },
                    {
                        name: 'Фаза 3',
                        data: this.stats.voltage_ph3 || []
                    },

                ];

                return {series, options}
            },

            amperage() {

                let options = {

                    tooltip: {
                        x: {
                            format: "dd-MM-yyyy HH:mm"
                        },
                        y: { formatter: value => {return `${value} A` }}
                    },
                    markers: {
                        size: 4,
                        hover: {
                            size: 8
                        }
                    },
                    colors: ['#00e396', '#eeb533', '#3dbaf8'],

                    legend: {
                        position: 'top',
                        horizontalAlign: 'left'
                    },

                    chart: {
                        id: 'cooler-chart'
                    },

                    xaxis: {
                        type: 'datetime',
                        categories: this.stats.label || []
                    },

                    yaxis: {
                        tickAmount: 3,
                        max: max => {return max*1.2},
                        min: min => {return min/1.2},
                    },
                };

                let series = [

                    {
                        name: 'Фаза 1',
                        data: this.stats.amperage_ph1 || []
                    },
                    {
                        name: 'Фаза 2',
                        data: this.stats.amperage_ph2 || []
                    },
                    {
                        name: 'Фаза 3',
                        data: this.stats.voltage_ph3 || []
                    },

                ];

                return {series, options}
            }, */

  },

  created () {
    this.fetch()
  },

  methods: {

    changeRange () {
      this.fetch()
    },

    fetch () {
      let than = this

      let [start, end] = this.range_date

      this.loading = true

      this.$http.post(`${this.$config.hostApi}/states/cluster`, {
        'index': this.item.index,
        'start': start,
        'end': end
      })

        .then(res => {
          than.stats = res.data.data
          than.loading = false
        }
        )

        .catch(res => {
          than.$errorHandling(res)
          than.loading = false
        })
    },

    disabledDate (date) {
      let before = this.$moment(this.stats.min_date).set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
      return !date || date.isAfter(this.$moment()) || date.isBefore(before)
    }
  }
}
</script>

<style scoped>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .wrap h2, .wrap h4 {
        padding: 0 0 0 15px;
    }
</style>
