<template>
  <div>
    <a-row>
      <a-col span="24">
        <div class="header">
          <a-breadcrumb>
            <a-breadcrumb-item v-for="path in item.path">
              {{ path }}
            </a-breadcrumb-item>
          </a-breadcrumb>
          <a-range-picker
            v-model="range_date"
            :disabled-date="disabledDate"
            @change="changeRange"
          />
        </div>
      </a-col>

      <a-col span="24">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Hashrate</h2>
            <apexchart
              width="100%"
              height="300"
              type="area"
              :options="hashRate.options"
              :series="hashRate.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-divider />

      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Board temperature (average)</h2>
            <apexchart
              width="95%"
              height="300"
              type="area"
              :options="board_t.options"
              :series="board_t.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Chip temperature (average)</h2>
            <apexchart
              width="95%"
              height="300"
              type="area"
              :options="chip_t.options"
              :series="chip_t.series"
            />
          </div>
        </a-spin>
      </a-col>
    </a-row>
  </div>
</template>

<script>

export default {

  name: 'ClusterStates',

  props: ['item'],

  data () {
    return {
      loading: true,
      stats: [],
      range_date: [this.$moment(), this.$moment()]
    }
  },

  computed: {
    hashRate () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value, { series, seriesIndex, dataPointIndex, w }) => {
              return `${value} ${this.stats.hashrate_unit}/s`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 6
          }
        },
        colors: ['#00e396', '#eeb533', '#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'hashRate-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },
        yaxis: {
          tickAmount: 5,
          max: max => {
            return max * 1.05
          },
          min: min => {
            return min / 1.2
          }
        }
      }

      let series = [

        {
          name: 'Hashrate',
          data: this.stats.hashrate || []
        }

      ]

      return { series, options }
    },

    board_t () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value, { series, seriesIndex, dataPointIndex, w }) => {
              return `${value} °C`
            }
          }

        },
        markers: {
          size: 4,
          hover: {
            size: 6
          }
        },
        colors: ['#3dbaf8', '#00e396', '#eeb533'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'board_t-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },
        yaxis: {
          tickAmount: 5,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }
      }

      let series = [

        {
          name: 'Температура платы',
          data: this.stats.board_t || []
        }

      ]

      return { series, options }
    },

    chip_t () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value, { series, seriesIndex, dataPointIndex, w }) => {
              return `${value} °C`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 6
          }
        },
        colors: ['#eeb533'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'chip_t-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },
        yaxis: {
          tickAmount: 5,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }
      }

      let series = [

        {
          name: 'Температура чипа',
          data: this.stats.chip_t || []
        }

      ]

      return { series, options }
    }
  },

  created () {
    this.fetch()
  },

  methods: {

    changeRange () {
      this.fetch()
    },

    fetch () {
      let than = this

      let [start, end] = this.range_date

      this.loading = true

      this.$http.post(`${this.$config.hostApi}/states/device`, {
        'index': this.item.index,
        'start': start,
        'end': end
      })

        .then(res => {
          than.stats = res.data.data
          than.loading = false
        }
        )

        .catch(res => {
          than.$errorHandling(res)
          than.loading = false
        })
    },

    disabledDate (date) {
      let before = this.$moment(this.stats.min_date).set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
      return !date || date.isAfter(this.$moment()) || date.isBefore(before)
    }

  }
}
</script>

<style scoped>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .wrap h2 {
        padding: 0 0 0px 15px;
    }
</style>
