<template>
  <div>
    <a-row>
      <a-col span="24">
        <div class="header">
          <a-breadcrumb>
            <a-breadcrumb-item v-for="path in item.path">
              {{ path }}
            </a-breadcrumb-item>
          </a-breadcrumb>
          <a-range-picker
            v-model="range_date"
            :disabled-date="disabledDate"
            @change="changeRange"
          />
        </div>
      </a-col>

      <a-col span="24">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Hashrate</h2>
            <h4>Asic</h4>
            <apexchart
              width="100%"
              height="160px"
              type="area"
              :options="hashrate_asic.options"
              :series="hashrate_asic.series"
            />
            <h4>Gpu</h4>
            <apexchart
              width="100%"
              height="160px"
              type="area"
              :options="hashrate_gpu.options"
              :series="hashrate_gpu.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-divider />

      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Coolant temperature (average)</h2>
            <apexchart
              width="95%"
              height="300px"
              type="area"
              :options="cooler_t.options"
              :series="cooler_t.series"
            />
          </div>
        </a-spin>
      </a-col>

      <a-col span="12">
        <a-spin :spinning="loading">
          <div class="wrap">
            <h2>Chip temperature (average)</h2>
            <apexchart
              width="95%"
              height="300px"
              type="area"
              :options="chip_t_average.options"
              :series="chip_t_average.series"
            />
          </div>
        </a-spin>
      </a-col>
    </a-row>
  </div>
</template>

<script>

export default {

  name: 'ClusterStates',

  props: ['item'],

  data () {
    return {
      loading: true,
      stats: [],
      range_date: [this.$moment(), this.$moment()]
    }
  },

  computed: {
    hashrate_asic () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value) => {
              return `${value} ${this.stats.hashrate_unit.asic}/s`
            }
          }
        },

        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },

        colors: ['#00e396'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'asic-chart'
        },

        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 3,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }

      }

      let series = [

        {
          name: 'Asic',
          data: this.stats.hashrate ? this.stats.hashrate.asic : []
        }

      ]

      return { series, options }
    },

    hashrate_gpu () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: (value) => {
              return `${value} ${this.stats.hashrate_unit.gpu}/s`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#eeb533'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'gpu-chart'
        },

        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 3,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }

      }

      let series = [

        {
          name: 'Gpu',
          data: this.stats.hashrate ? this.stats.hashrate.gpu : []
        }

      ]

      return { series, options }
    },

    cooler_t () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: value => {
              return `${value} °C`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#00e396', '#eeb533', '#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'cooler-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 3,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }
      }

      let series = [

        {
          name: 'Температура',
          data: this.stats.cooler_t || []
        }

      ]

      return { series, options }
    },

    chip_t_average () {
      let options = {

        tooltip: {
          x: {
            format: 'dd-MM-yyyy HH:mm'
          },
          y: {
            formatter: value => {
              return `${value} °C`
            }
          }
        },
        markers: {
          size: 4,
          hover: {
            size: 8
          }
        },
        colors: ['#00e396', '#eeb533', '#3dbaf8'],

        legend: {
          position: 'top',
          horizontalAlign: 'left'
        },

        chart: {
          id: 'cooler-chart'
        },
        xaxis: {
          type: 'datetime',
          categories: this.stats.label || []
        },

        yaxis: {
          tickAmount: 3,
          max: max => {
            return max * 1.2
          },
          min: min => {
            return min / 1.2
          }
        }
      }

      let series = [

        {
          name: 'Средняя температура чипа',
          data: this.stats.chip_t_average || []
        }

      ]

      return { series, options }
    }
  },

  created () {
    this.fetch()
  },

  methods: {

    changeRange () {
      this.fetch()
    },

    fetch () {
      let than = this

      let [start, end] = this.range_date

      this.loading = true

      this.$http.post(`${this.$config.hostApi}/states/rack`, {
        'index': this.item.index,
        'start': start,
        'end': end
      })

        .then(res => {
          than.stats = res.data.data
          than.loading = false
        }
        )

        .catch(res => {
          than.$errorHandling(res)
          than.loading = false
        })
    },

    disabledDate (date) {
      let before = this.$moment(this.stats.min_date).set({ hour: 0, minute: 0, second: 0, millisecond: 0 })
      return !date || date.isAfter(this.$moment()) || date.isBefore(before)
    }

  }
}
</script>

<style scoped>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    .wrap h2, .wrap h4 {
        padding: 0 0 0 15px;
    }
</style>
