<template>
    <a-drawer
            title="User settings"
            :visible="visible"
            @close="onClose"
    >
        <a-row>
            <a-col span="24">
                <h2>Account settings</h2>
            </a-col>

            <a-col span="24">
                <a-form
                        id="account"
                        @submit.prevent="handleChangeSettings('account')"
                >
                    <a-form-item>
                        <a-input
                                v-model="profile.email"
                                name="email"
                                disabled
                                placeholder="Enter email"
                        >
                            <template #prefix>
                                <a-icon
                                        type="mail"
                                        style="color: rgba(0,0,0,.25)"
                                />
                            </template>
                        </a-input>
                    </a-form-item>

                    <a-form-item
                            :validate-status="$resolveInputState(errors.has('name'))"
                            :help="errors.first('name')"
                    >
                        <a-input
                                v-model="inputs.name"
                                v-validate="rules.name"
                                name="name"
                                placeholder="Enter name"
                        >
                            <template #prefix>
                                <a-icon
                                        type="user"
                                        style="color: rgba(0,0,0,.25)"
                                />
                            </template>
                        </a-input>
                    </a-form-item>

                    <a-form-item>
                        <a-button
                                html-type="submit"
                                type="primary"
                                block
                                :loading="loadingSetting"
                        >
                            Save
                        </a-button>
                    </a-form-item>
                </a-form>
            </a-col>

            <a-col span="24">
                <a-divider dashed></a-divider>
            </a-col>

            <a-col span="24">
                <h2>Security settings</h2>
            </a-col>

            <a-col span="24">
                <a-form
                        id="security"
                        @submit.prevent="handleSubmitSecurity('password')"
                >
                    <a-form-item
                            :validate-status="$resolveInputState(errors.has('old_password'))"
                            :help="errors.first('old_password')"
                    >
                        <a-input
                                v-model="inputs.old_password"
                                v-validate="rules.old_password"
                                type="password"
                                name="old_password"
                                data-vv-as="password"
                                placeholder="Enter old password"
                        >
                            <template #prefix>
                                <a-icon
                                        type="lock"
                                        style="color: rgba(0,0,0,.25)"
                                />
                            </template>
                        </a-input>
                    </a-form-item>

                    <a-form-item
                            :validate-status="$resolveInputState(errors.has('password'))"
                            :help="errors.first('password')"
                    >
                        <a-input
                                ref="password"
                                v-model="inputs.password"
                                v-validate="rules.password"
                                type="password"
                                name="password"
                                placeholder="Enter new password"
                        >
                            <template #prefix>
                                <a-icon
                                        type="lock"
                                        style="color: rgba(0,0,0,.25)"
                                />
                            </template>
                        </a-input>
                    </a-form-item>

                    <a-form-item
                            :validate-status="$resolveInputState(errors.has('password_confirmation'))"
                            :help="errors.first('password_confirmation')"
                    >
                        <a-input
                                v-model="inputs.password_confirmation"
                                v-validate="rules.password_confirmation"
                                type="password"
                                name="password_confirmation"
                                data-vv-as="password"
                                placeholder="Enter new password confirm"
                        >
                            <template #prefix>
                                <a-icon
                                        type="lock"
                                        style="color: rgba(0,0,0,.25)"
                                />
                            </template>
                        </a-input>
                    </a-form-item>

                    <a-form-item class="tc">
                        <a-button
                                html-type="submit"
                                type="primary"
                                block
                                :loading="loadingPassword"
                        >
                            Save
                        </a-button>
                    </a-form-item>
                </a-form>
            </a-col>

            <a-col span="24">
                <a-divider dashed></a-divider>
            </a-col>

            <a-col span="24">
                <h2>Notify settings</h2>
            </a-col>

            <a-col span="24">

                <a-form id="telegram" @submit.prevent="handleChangeTelegram('telegram')">
                    <a-form-item
                            :validate-status="$resolveInputState(errors.has('telegram_chat_id'))"
                            :help="errors.first('telegram_chat_id')"
                    >
                        <a-input
                                v-model="inputs.telegram_chat_id"
                                v-validate="rules.telegram_chat_id"
                                type="text"
                                name="telegram_chat_id"
                                data-vv-as="chat id"
                                placeholder="Enter telegram chat id"
                        >
                            <template #prefix>
                                <a-icon type="lock" style="color: rgba(0,0,0,.25)"></a-icon>
                            </template>
                        </a-input>

                    </a-form-item>

                    <a-form-item class="tc">

                        <a-button
                                html-type="submit"
                                type="primary"
                                block
                                :loading="loadingTelegram"
                        >
                            Save
                        </a-button>
                    </a-form-item>
                </a-form>
                <a target="blank" href="https://t.me/ams_bixbit_bot">Get chat id</a>
            </a-col>
        </a-row>
    </a-drawer>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex'

    import config from '@/app.config'

    export default {
        name: 'UserSettings',
        props: ['settingsVisible'],
        data() {
            return {
                loadingPassword: false,
                loadingSetting: false,
                loadingTelegram: false,
                visible: false,
                style: null,
                imageUrl: 'https://i.pravatar.cc/150?img=3',

                inputs: {
                    name: null,
                    email: null,
                    old_password: null,
                    new_password: null,
                    new_password_confirm: null,
                    telegram_chat_id: null
                },
                rules: {
                    name: {
                        required: true,
                        min: 3
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    old_password: {
                        required: true,
                        min: 6
                    },
                    password: {
                        required: true,
                        min: 6,
                        confirmed: 'password'
                    },
                    password_confirmation: {
                        required: true,
                        min: 6,
                        confirmed: 'password'
                    },
                    telegram_chat_id: {
                        numeric: true
                    }
                }
            }
        },
        computed: {
            ...mapGetters('profile', ['profile'])
        },
        watch: {
            settingsVisible() {
                this.visible = this.settingsVisible
            },
            visible() {
                this.inputs.name = this.profile.name
                this.inputs.email = this.profile.email
                this.inputs.telegram_chat_id = this.profile.telegram_chat_id
            }
        },
        methods: {
            ...mapActions('profile', {getProfile: 'profile'}),

            handleSubmitSecurity(scope) {
                let vm = this

                this.$validator.validateAll(scope).then(valid => {
                    if (!valid) return

                    vm.loadingPassword = true

                    this.$http.post(`${config.hostApi}/profile/change_password`, this.inputs)

                        .then(response => {
                            vm.$message.success(response.data.message)
                            vm.loadingPassword = false
                        })

                        .catch(response => {
                            vm.$errorHandling(response)
                            vm.loadingPassword = false
                        })
                })
            },

            handleChangeSettings(scope) {
                let vm = this

                this.$validator.validateAll(scope).then(valid => {
                    if (!valid) return

                    vm.loadingSetting = true

                    this.$http.post(`${config.hostApi}/profile/change_settings`, this.inputs)

                        .then(response => {
                            vm.$message.success(response.data.message)
                            vm.loadingSetting = false
                            vm.getProfile()
                        })

                        .catch(response => {
                            vm.$errorHandling(response)
                            vm.loadingSetting = false
                        })
                })
            },

            handleChangeTelegram(scope) {
                let vm = this

                this.$validator.validateAll(scope).then(valid => {
                    if (!valid) return

                    vm.loadingTelegram = true

                    this.$http.post(`${config.hostApi}/profile/change_telegram`, this.inputs)

                        .then(response => {
                            vm.$message.success(response.data.message)
                            vm.loadingTelegram = false
                            vm.getProfile()
                        })

                        .catch(response => {
                            vm.$errorHandling(response)
                            vm.loadingTelegram = false
                        })
                })
            },

            onClose() {
                this.$emit('onCloseSettings')
                this.visible = false
            }
        }
    }
</script>

<style scoped>
    .wrap {
        text-align: center;
    }
</style>
